@import url("https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css");
@import url("https://raw.githack.com/codedotspectra/themes/master/discordelectro/css/core.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/squaredStatus.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/sidebarIcons.css");

:root {
	--primary: #ff0000;
	--primaryt: #cc0000;
	--primary2: #ff4d4d;
	--dark: #141418;
	--medium: #18191d;
	--light: #2e3038;
	--HomeButtonImg: url('http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg');
}

* {
	border-radius: 0px !important;
}

button {
	color: white !important;
	opacity: 0.75;
}

button:hover {
	opacity: 1;
}

.blob-1PX1Gp {
	left: -5px;
	top: -5px;
}

.wrapper-25eVIn svg {
	width: 50px !important;
	height: 50px !important;
}

.wrapper-CU3qI5 {
	background-color: var(--primary);
	color: white;
}

.selected-nT-gM3:before {
	background-color: var(--primary) !important;
}

.members-1998pB, .quickswitcher-3JagVE, .searchHeader-1l-wpR {
	background-color: var(--dark) !important;
}

.unread-3zKkbm{
	display: none;
}

.inner-zqa7da {
	background-color: var(--dark) !important;
	border-radius: 0px;
}

.wordmark-2iDDfm svg {
	background-image: none;
}

.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .status-3fQvEa {
	width:100% !important;
	height:100% !important;
}

.input-2VB9rf, .unread-1xRYoj, .action-1lSjCi {
	background-color: var(--light) !important;
}

#bd-settings-sidebar .ui-tab-bar-header,.header-2RyJ0Y,.iconCollapsed-3hFp_8,.iconDefault-3Gr8d2,.iconHovered-2L3-fB,.iconHoveredCollapsed-3caIIZ,.nameCollapsed-34uFWo,.nameDefault-2DI02H,.nameHovered-1gxhWH,.nameHoveredCollapsed-2orEWB {
	color: white !important;
	opacity: 0.75;
}

.audio-2KA0-x::after {
	width: 20px;
}

.searchBarLight-1NxoDG, .stickyScroller-24zUyY {
	background-color: var(--medium) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span,.checkbox-1ix_J3 {
	background-color: transparent !important;
	border-color: var(--light) !important;
}

.checked-3_4uQ9 {
	background-color: var(--primary) !important;
}

.guildSeparator-3s64Iy, .icon-WnO6o2 {
	display: none;
}

.scroller-2FKFPG {
	overflow-x: hidden;
    overflow-y: auto;
}

.searchIcon-1a1-yA {
	position: relative;
	left: 7px;
}

.selected-nT-gM3:before, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before, .isMentionedCozy-3isp7y:after, .audio-3sNR7M:after, .video-3I9W8t:after, .audio-2KA0-x:after, .video-2jNDI4:after, .sizeDefault-2YlOZr:after {
	border-radius: 0px !important;
}

.isMentionedCozy-3isp7y:after {
	border-left-color: var(--primary);
	color: var(--primary);
}