@import url("https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/squaredStatus.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/sidebarIcons.css");

:root {
	--primary: #ff0000;
	--primaryt: #cc0000;
	--primary2: #ff4d4d;
	--dark: #141418;
	--medium: #18191d;
	--light: #2e3038;
	--HomeButtonImg: url('http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg');
}

* {
	border-radius: 0px !important;
}

button {
	color: white !important;
	opacity: 0.75;
}

button:hover {
	opacity: 1;
}

.guildInner-3DSoA4 a svg {
	background-image:var(--HomeButtonImg);
	background-position:5px -1.5px;
	background-repeat:no-repeat!important;
	background-size:contain!important;
}

.container-1r6BKw {
	box-sizing:border-box!important;
	box-shadow:0 0 10px #000!important;
	border-bottom:2px solid var(--primary)!important;
	border-top:1px solid #262626;
	background-color:var(--dark)!important;
	height:40px!important;
}

.circleIconButton-jET_ig,.container-1ETFDs,.container-2td-dC,.homeButton-2Cw51C,.iconSizeLarge-161qtT,.wrapper-2lTRaf,.wrapper-2lTRaf a {
	height:45px!important;
	width:45px!important;
	border-radius:0!important;
}

.container-1ETFDs,.homeButton-2Cw51C,.homeIcon-tEMBK1 {
	height:30px!important;
	width:30px!important;
}

.homeButton-2Cw51C {
	position:relative;
	top:-5px;
	left:13px;
	overflow:visible;
	z-index:2;
}

.homeButton-2Cw51C::after {
	content:"";
	top:-5px;
	background-color:var(--dark);
	border-bottom:2px solid var(--primary);
	border-top:1px solid #262626;
	width:700%;
	height:37px;
	position:absolute;
	z-index:-1;
	pointer-events:none;
	box-shadow:1px 0 10px #000;
}

.listItem-2P_4kh:first-child .wrapper-25eVIn svg {
	height:40px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:50%;
	background-image:var(--HomeButtonImg)!important;
}

.header-2o-2hj,.headerBar-UHpsPw,.searchBar-6Kv8R2,.titleWrapper-1l0xT9 {
	height:40px!important;
}

.header-2o-2hj,.headerBar-UHpsPw,.platform-win .guild-1EfMGQ:nth-child(1):not([style*=translateX])::after,.searchBar-6Kv8R2 {
	background-color:var(--dark)!important;
	box-sizing:border-box!important;
	box-shadow:0 0 10px #000!important;
	border-bottom:2px solid var(--primary)!important;
	border-top:1px solid #262626;
}

.header-2o-2hj:hover {
	background-color:var(--dark);
	text-shadow:2px 2px 5px #000;
}

// old

.blob-1PX1Gp {
	left: -5px;
	top: -5px;
}

.wrapper-25eVIn svg {
	width: 50px !important;
	height: 50px !important;
}

.wrapper-CU3qI5 {
	background-color: var(--primary);
	color: white;
}

.selected-nT-gM3:before {
	background-color: var(--primary) !important;
}

.members-1998pB, .quickswitcher-3JagVE, .searchHeader-1l-wpR {
	background-color: var(--dark) !important;
}

.unread-3zKkbm{
	display: none;
}

.inner-zqa7da {
	background-color: var(--dark) !important;
	border-radius: 0px;
}

.wordmark-2iDDfm svg {
	background-image: none;
}

.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .status-3fQvEa {
	width:100% !important;
	height:100% !important;
}

.input-2VB9rf, .unread-1xRYoj, .action-1lSjCi {
	background-color: var(--light) !important;
}

#bd-settings-sidebar .ui-tab-bar-header,.header-2RyJ0Y,.iconCollapsed-3hFp_8,.iconDefault-3Gr8d2,.iconHovered-2L3-fB,.iconHoveredCollapsed-3caIIZ,.nameCollapsed-34uFWo,.nameDefault-2DI02H,.nameHovered-1gxhWH,.nameHoveredCollapsed-2orEWB {
	color: white !important;
	opacity: 0.75;
}

.audio-2KA0-x::after {
	width: 20px;
}

.searchBarLight-1NxoDG, .stickyScroller-24zUyY {
	background-color: var(--medium) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span,.checkbox-1ix_J3 {
	background-color: transparent !important;
	border-color: var(--light) !important;
}

.checked-3_4uQ9 {
	background-color: var(--primary) !important;
}

.guildSeparator-3s64Iy, .icon-WnO6o2 {
	display: none;
}

.scroller-2FKFPG {
	overflow-x: hidden;
    overflow-y: auto;
}

.searchIcon-1a1-yA {
	position: relative;
	left: 7px;
}

.selected-nT-gM3:before, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before, .isMentionedCozy-3isp7y:after, .audio-3sNR7M:after, .video-3I9W8t:after, .audio-2KA0-x:after, .video-2jNDI4:after, .sizeDefault-2YlOZr:after {
	border-radius: 0px !important;
}

.isMentionedCozy-3isp7y:after {
	border-left-color: var(--primary);
	color: var(--primary);
}