@import url("https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/squaredStatus.css");
@import url("https://raw.githack.com/darkvergus/Discord-DarkRed/master/Helper/sidebarIcons.css");

:root {
	--primary: #ff0000;
	--primaryt: #cc0000;
	--primary2: #ff4d4d;
	--dark: #141418;
	--medium: #18191d;
	--light: #2e3038;
	--HomeButtonImg: url('http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg');
}

* {
	border-radius: 0px !important;
}

button {
	color: white !important;
	opacity: 0.75;
}

button:hover {
	opacity: 1;
}

.container-1r6BKw {
	box-sizing:border-box!important;
	box-shadow:0 0 10px #000!important;
	border-bottom:2px solid var(--primary)!important;
	border-top:1px solid #262626;
	background-color:var(--dark)!important;
	height:40px!important;
}

.header-2o-2hj,.headerBar-UHpsPw,.searchBar-6Kv8R2,.titleWrapper-1l0xT9 {
	height:40px!important;
}

.header-2o-2hj,.headerBar-UHpsPw,.platform-win .guild-1EfMGQ:nth-child(1):not([style*=translateX])::after,.searchBar-6Kv8R2 {
	background-color:var(--dark)!important;
	box-sizing:border-box!important;
	box-shadow:0 0 10px #000!important;
	border-bottom:2px solid var(--primary)!important;
	border-top:1px solid #262626;
}

.header-2o-2hj:hover {
	background-color:var(--dark);
	text-shadow:2px 2px 5px #000;
}

.attachButtonInner-1iyZ9F svg path,.messageGroupBlocked-3wrQQX,.wordmark-2iDDfm svg path,svg[name=Discord],.children-19S4PO:after,.listItem-2P_4kh:first-child .wrapper-25eVIn svg foreignObject a svg,.wrapper-25eVIn svg mask {
	display:none;
}

.listItem-2P_4kh:first-child .wrapper-25eVIn svg {
	height:40px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:50%;
	background-image:var(--HomeButtonImg)!important;
}

.circleIconButton-jET_ig {
	border:1px dashed hsla(0,100%,100%,.5);
	background-color:rgba(0,0,0,.25);
	color:var(--primary);
}

.circleIconButton-jET_ig:hover {
	border:1px dashed hsla(0,100%,100%,1);
	background-color:rgba(0,0,0,.45);
}

.wrapper-sa6paO {
	height:39px;
}

.wrapper-sa6paO .item-2hkk8m {
	border-radius:0;
	background-color:var(--primary);
}

.container-1UB9sr,.container-2Thooq,.container-PNkimc,.members-1998pB,.container-2x5lvQ section,.guildsWrapper-5TJh6A,.messagesWrapper-3lZDfY,.body-3ND3kc,.body-3iLsc4,.footer-1fjuF6,.applicationStore-1pNvnv,.itemBackground-1jfD8p,#friends,.activityFeed-28jde9,.table-1tDS6w,.root-1BQpZw,.root-26DmKJ,.container-3gCOGc,.videoBackground-3AY_fu,.videoBackgroundTransition-3wpOSl,.wrapper-29NfPK,.pageWrapper-1PgVDX,.wrapper-1Rf91z,.wrapper-2lTRaf {
	background-color:var(--medium)!important;
}

.circleIconButton-jET_ig,.container-1ETFDs,.container-2td-dC,.homeButton-2Cw51C,.iconSizeLarge-161qtT,.wrapper-2lTRaf,.wrapper-2lTRaf a {
	height:45px!important;
	width:45px!important;
	border-radius:0!important;
}

.circleIconButton-jET_ig,.icon-27yU2q,.wrapper-1BJsBx,.wrapper-1BJsBx img,.wrapper-25eVIn,.wrapper-25eVIn svg,.wrapper-25eVIn svg foreignObject {
	height:43px!important;
	width:43px!important;
	border-radius:0;
}

.guildsWrapper-5TJh6A.foldercontent .guilds-1q_RqH>div.guild-1EfMGQ:first-child .da-guildInner,.listItem-2P_4kh:first-child .wrapper-25eVIn,.listItem-2P_4kh:first-child .wrapper-sa6paO {
	height:40px;
}

.nameConnectedText-3CzNQn,.nameConnectedVoice-MHUX5F,.nameDefaultText-24KCy5,.nameDefaultVoice-3WUH7s,.nameHoveredText-1uO31y,.nameHoveredVoice-YJ1Vfd,.nameLockedText-3pqQcL,.nameLockedVoice-26MhB1,.nameMutedText-3Vj4bM,.nameMutedVoice-3oxyQZ,.nameSelectedText-sp_EUw,.nameSelectedVoice-1qSph5,.nameUnreadText-DfkrI4,.nameUnreadVoice-EVo-wI {
text-transform:capitalize;
}

::-webkit-scrollbar {
	border:none!important;
	width:6px!important;
}

::-webkit-scrollbar-track {
	background:0 0!important;
	border:none!important;
}

::-webkit-scrollbar-track-piece {
	background:0 0!important;
	border-radius:0!important;
	border:none!important;
}

::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,.7)!important;
	border-radius:0!important;
	border:none!important;
}

.scrollerWrap-2lJEkd ::-webkit-scrollbar {
	width:0!important;
}

.plugin-controls input,.plugin-settings input {
	background-color:var(--light)!important;
	border:1px solid rgba(0,0,0,.5)!important;
	border-radius:0!important;
	color:#fff!important;
	padding:7px!important;
}

.plugin-settings button {
	background-color:var(--primary)!important;
	border:1px solid rgba(0,0,0,.98)!important;
	border-radius:0!important;
	color:#fff!important;
	font-weight:700;
	letter-spacing:.5px;
	padding:7px!important;
}

.plugin-settings button:hover {
	background-color:var(--primary2)!important;
	color:#000!important;
}

.bd-pfbtn {
	-webkit-box-shadow:inset 0 -4px 0 rgba(35,39,42,.6);
	background-color:var(--primary);
	border:1px solid #202225!important;
	box-shadow:inset 0 -2px 0 rgba(35,39,42,.6);
	color:#000;
	border-radius:0!important;
	transition:all .2s ease;
	padding:7px;
}

.bda-slist li {
	max-height:300px;
	border-radius:6px;
	border:1px solid #000!important;
	background-color:var(--dark)!important;
}

.editor-wrapper {
	position:relative;
	margin-top:25px;
}

.ace_editor {
	border-radius:8px 8px 0 0;
}

#bd-customcss-attach-controls {
	border-radius:0 0 8px 8px;
}

.bda-slist .bda-description {
	color:hsla(0,100%,100%,.96)!important;
}

.bda-slist .bda-footer {
	max-height:50px;
	height:25px;
}

.bda-slist .bda-footer a,.bda-slist .bda-footer button {
	-webkit-box-shadow:inset 0 -4px 0 rgba(35,39,42,.6)!important;
	background-color:var(--primary)!important;
	border:1px solid #202225!important;
	box-shadow:inset 0 -2px 0 rgba(35,39,42,.6)!important;
	color:#f6f6f7!important;
	border-radius:0!important;
	transition:all .2s ease;
	padding:0 2px 2px 6px;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
	background:var(--primary)!important;
}

// old

.blob-1PX1Gp {
	left: -5px;
	top: -5px;
}

.wrapper-25eVIn svg {
	width: 50px !important;
	height: 50px !important;
}

.wrapper-CU3qI5 {
	background-color: var(--primary);
	color: white;
}

.selected-nT-gM3:before {
	background-color: var(--primary) !important;
}

.members-1998pB, .quickswitcher-3JagVE, .searchHeader-1l-wpR {
	background-color: var(--dark) !important;
}

.unread-3zKkbm{
	display: none;
}

.inner-zqa7da {
	background-color: var(--dark) !important;
	border-radius: 0px;
}

.wordmark-2iDDfm svg {
	background-image: none;
}

.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 .status-3fQvEa {
	width:100% !important;
	height:100% !important;
}

.input-2VB9rf, .unread-1xRYoj, .action-1lSjCi {
	background-color: var(--light) !important;
}

#bd-settings-sidebar .ui-tab-bar-header,.header-2RyJ0Y,.iconCollapsed-3hFp_8,.iconDefault-3Gr8d2,.iconHovered-2L3-fB,.iconHoveredCollapsed-3caIIZ,.nameCollapsed-34uFWo,.nameDefault-2DI02H,.nameHovered-1gxhWH,.nameHoveredCollapsed-2orEWB {
	color: white !important;
	opacity: 0.75;
}

.audio-2KA0-x::after {
	width: 20px;
}

.searchBarLight-1NxoDG, .stickyScroller-24zUyY {
	background-color: var(--medium) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span,.checkbox-1ix_J3 {
	background-color: transparent !important;
	border-color: var(--light) !important;
}

.checked-3_4uQ9 {
	background-color: var(--primary) !important;
}

.guildSeparator-3s64Iy, .icon-WnO6o2 {
	display: none;
}

.scroller-2FKFPG {
	overflow-x: hidden;
    overflow-y: auto;
}

.searchIcon-1a1-yA {
	position: relative;
	left: 7px;
}

.selected-nT-gM3:before, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before, .isMentionedCozy-3isp7y:after, .audio-3sNR7M:after, .video-3I9W8t:after, .audio-2KA0-x:after, .video-2jNDI4:after, .sizeDefault-2YlOZr:after {
	border-radius: 0px !important;
}

.isMentionedCozy-3isp7y:after {
	border-left-color: var(--primary);
	color: var(--primary);
}