:root {
	--primary:red;
	--primaryt:#c00;
	--primary2:#ff4d4d;
	--dark:#141418;
	--medium:#18191d;
	--light:#2e3038;
	--homebuttonimg:url(http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg);
}