//META{"name":"DarkRed","description":"Basic color change","author":"Darkvergus","version":"1.1","source":"","website":""}*//{}
@import url("https://raw.githubusercontent.com/darkvergus/Discord-DarkRed/master/css/core.css")

:root {
	--primary: #ff0000;
	--primaryt: #cc0000;
	--primary2: #ff4d4d;
	--dark: #141418;
	--medium: #18191d;
	--light: #2e3038;
	--HomeButtonImg: url('http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg');
}